* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.dashboard {
    padding: 2vw;
    width: 50vw;
    max-width: 1200px; /* Evita que o conteúdo se estique demais em telas grandes */
    text-align: center;  
}

header {
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 2.5vw;
    color: #001f3f;
}

header p {
    color: #69798b;
    font-size: 1.2vw;
}

.cards {
    display: flex;
    /* flex-wrap: wrap; /* Permite que as cartas se movam para uma nova linha */
    gap: 2.5vw; /* Adiciona um espaçamento consistente entre as cartas */
    justify-content: center; /* Alinha as cartas no centro */
}

.card {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    padding: 20px;
    width: 45%;
    min-width: 250px; /* Garante que a carta tenha no mínimo 250px de largura */
    text-align: center; /* Alinha o conteúdo da carta ao centro */
}

.sampler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Garante que o ícone e a data fiquem centralizados */
}

.card h2 {
    font-size: 1vw;
    color: #001f3f;
    margin-bottom: 10px;
}

.data {
    font-size: 4vw;
    color: #001f3f;
    font-weight: bold;
}

svg {
    fill: #69798b;
    color: #69798b;
    width: 8vw;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        margin-bottom: 6vw;
    }
    
    header h1 {
        font-size: 4.5vw;
    }
    
    header p {
        font-size: 3vw;
    }
    
    .dashboard {
        padding: 1vw;
        width: 80%;
        justify-content: space-between;
    }
    
    .cards {
        gap: 3vw;
    }

    .card {
        width: 45%; /* As cartas ainda ocupam 45% em telas médias */
    }

    .card h2 {
        font-size: 2.5vw; /* Ajusta o tamanho da fonte das cartas */
    }

    .data {
        font-size: 8vw; /* Ajusta o tamanho da fonte das dados */
    }
    
    svg {
        width: 15vw; /* Ajuste para ícones menores */
    }
}

@media screen and (max-width: 400px) {
    header {
        flex-direction: column;
        margin-bottom: 6vw;
    }
    
    header h1 {
        font-size: 6vw;
    }
    
    header p {
        font-size: 4vw;
    }
    
    .dashboard {
        padding: 1vw;
        width: 50vw;
        justify-content: space-between;
    }

    .card {
        width: 100%; /* As cartas ocupam 100% da largura da tela em dispositivos muito pequenos */
    }

    .cards {
        gap: 3vw;
        flex-wrap: wrap;
    }
    
    .card h2 {
        font-size: 3vw;
        color: #001f3f;
        margin-bottom: 10px;
    }
    
    .data {
        font-size: 8vw;
        color: #001f3f;
        font-weight: bold;
    }
    
    svg {
        fill: #69798b;
        color: #69798b;
        width: 15vw;
    }
}
