* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.dashboard {
    padding: 2vw;
    width: 50vw;
    max-width: 1200px; 
    text-align: center;  
}

header {
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 2.5vw;
    color: #001f3f;
}

header p {
    color: #69798b;
    font-size: 1.2vw;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vw; 
    justify-content: center;
}

.card {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    padding: 20px;
    width: 45%;
    min-width: 250px;
    text-align: center;
}

.sampler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card h2 {
    font-size: 1vw;
    color: #001f3f;
    margin-bottom: 10px;
}

.data {
    font-size: 4vw;
    color: #001f3f;
    font-weight: bold;
}

.sampler svg {
    max-width: 120px;
    fill: #69798b;
    color: #69798b;
    width: 8vw;
}

@media screen and (max-width: 1400px) {
    header {
        flex-direction: column;
        margin-bottom: 6vw;
    }
    
    header h1 {
        font-size: 4vw;
    }
    
    header p {
        font-size: 2.5vw;
    }
    
    .dashboard {
        padding: 1vw;
        width: 80%;
        max-width: 1200px; 
        justify-content: space-between;
    }
    
    .cards {
        gap: 3vw;
    }

    .card {
        width: 45%;
    }

    .card h2 {
        font-size: 1.5vw;
    }

    .data {
        font-size: 6vw;
    }
    
    svg {
        width: 15vw;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        margin-bottom: 6vw;
    }
    
    header h1 {
        font-size: 4.5vw;
    }
    
    header p {
        font-size: 3vw;
    }
    
    .dashboard {
        padding: 1vw;
        width: 80%;
        justify-content: space-between;
    }
    
    .cards {
        gap: 3vw;
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
    }

    .card h2 {
        font-size: 2.5vw;
    }

    .data {
        font-size: 8vw;
    }
    
    svg {
        width: 15vw;
    }
}

@media screen and (max-width: 400px) {
    header {
        flex-direction: column;
        margin-bottom: 6vw;
    }
    
    header h1 {
        font-size: 6vw;
    }
    
    header p {
        font-size: 4vw;
    }
    
    .dashboard {
        padding: 1vw;
        width: 50vw;
        justify-content: space-between;
    }

    .card {
        width: 100%;
    }

    .cards {
        gap: 3vw;
        flex-wrap: wrap;
    }
    
    .card h2 {
        font-size: 3vw;
        color: #001f3f;
        margin-bottom: 10px;
    }
    
    .data {
        font-size: 8vw;
        color: #001f3f;
        font-weight: bold;
    }
    
    svg {
        fill: #69798b;
        color: #69798b;
        width: 15vw;
    }
}
